* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  header {
    font-size: 40px;
    color:  rgb(7, 46, 243);
  }

  #highscores {
    margin-left: 550px;
    margin-right: 400px;
  }

  h2 {
    font-size: 40px;
    margin-top: 100px;
  }

  #button-back,
  #button-clear {
    background-color: rgb(49, 82, 249);
    border: 5px solid;
    border-color: rgb(7, 46, 243);
    border-radius: 10px;
    font-size: 20px;
    color: rgb(251, 188, 72);
  }

  .quiz-results {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: bolder;
  }

  #button-back {
    margin-right: 10px;

  }

  #button-back a:link,
  #button-back a:visited {
    text-decoration: none;
    color:  rgb(251, 188, 72);
  }

  .hide {
    border: 8px solid black;
    display: none;
   }